
/* {
    box-sizing: border-box;
}

/** {
    padding:0;
    margin:0;
}*/

/* For mobile phones: */
/*[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */ /*
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

body{
    padding-top: 45px;
}

h1 {
    text-align: center;
    color: #fefefe;
    font-family: "Playfair Display";
    font-size: 45px;
}

h2{
    text-align: center;
    font-family: "Playfair Display";
    font-size: 35px;
    color: #fefefe;
}

h3{
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display";
    font-size: 25px;
    color: #fefefe; 
}

p{
    font-family: "Open Sans";
    color: #fefefe;
}

a{
    color:#c55275;
    text-decoration: none;
}

a:hover{
    color:#548ea4;
    text-decoration: none;
}

a:visited{
    color:#548ea4;
    text-decoration: underline;
}

#thumbnail{
    border: 1px solid #211728;
    border-radius: 8px;
    filter: drop-shadow(0px 2px 2px #383838);
}

#roundImage{
  border: 3px solid #90173b;
  border-radius: 50%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#myPhoto{
    border: 3px solid #548ea4;
    border-radius: 8px;
    filter: drop-shadow(6px 6px 8px #000000);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    margin-top: 5px;
    width: 50%;
    top:0;
    
    position:relative;
   animation:glide 2s ease-in-out alternate infinite;
}
/* image animation: https://www.demo2s.com/html-css/css-animate-to-move-image-up-and-down.html*/
@keyframes glide  {
    from {
       left:0px;
       top:0px;
    }
    
    to {
       left:0px;
       top: -15px;
    }
 
 }

.navbar-custom{
    background-color: #271534;
}

.navbar-custom .nav-link {
    color:#fefefe;
    font-family: 'Open Sans';
}

.navbar-custom .nav-link:hover {
    color: #c55275;
}

/* Set the border color */
    
.custom-toggler.navbar-toggler {
    border-color: rgb(254, 254, 254);
}
    
/* Setting the stroke to white using rgb values (254, 254, 254) */
    
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
  hr.lightLine{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    color:#fefefe;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(254, 254, 254, 0), rgba(254, 254, 254, 0.75), rgba(254, 254, 254, 0));
  }

  hr.darkLine{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    color:#c55275;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(144, 23, 59, 0), rgba(144, 23, 59, 0.75), rgba(144, 23, 59, 0));
  }

/* Flaired edges, by Tomas Theunissen https://css-tricks.com/examples/hrs/*/

  hr.topLine {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #c55275;
    opacity: 100%;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  hr.topLine:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #c55275;
    opacity: 100%;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  
    margin-left: auto;
    margin-right: auto;
  }

  .lightBackground{

    background: linear-gradient(158deg, rgba(254,254,254,1) 0%, rgba(255,213,226,1) 53%, rgba(242,200,247,1) 100%);
    color: #fefefe;
    width:100%;
  }

  .lightBackground h2{
    margin: 15px;
  }

  .darkBackground{
    background: linear-gradient(142deg, rgba(33,23,40,1) 0%, rgba(33,15,60,1) 43%, rgba(18,31,65,1) 65%, rgba(4,37,50,1) 100%);
    color: #fefefe;
    width:100%; 
  }

  .darkBackground h2{
    margin: 15px;
  }

  .darkText{
    color:#271932;
  }

  .portText{
    color:#211728;
    text-align: center;
    font-size: 20px;
  }

  .pinkHeader{
    color:#c55275;
    font-weight: bold;
    margin: 45px 0px 15px;
    text-shadow: 0px 1.5px #90173b ;
  }

  .portfolioHeader {
    color:#c55275;
  }

  .centered {
    text-align: center;
  }

  .centered a{
    color:#c55275;
    font-size: 20px;
  }

  .centered a:hover{
    color:#548ea4;
  }

  .centered i{
    margin: 35px 5px;
  }

  .textOutline{
    border: 3px solid #e8bd54;
    padding: 6px;
    border-radius: 5px;
    background-color: #211728;
    filter: drop-shadow(6px 6px 8px #000000);
    text-align: center;
    margin:15px;
    font-size: 20px;
  }

  .portOutline{
    position: relative;
    display: inline-block;
    border: 3px solid #e8bd54;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 20px 10px 30px;
    padding: 10px;
    filter: drop-shadow(0px 2px 3px #383838);
    transition: all 0.3s ease-in-out;
  }

  /* Scale up the box */
 .portOutline:hover {
    transform: scale(1.05, 1.05);
  }


  .ribbon {
    height: 12px;
    width:100%;
    background-color: #c55275;
}

/* popup */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff6f9;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: linear-gradient(142deg, rgba(33,23,40,1) 0%, rgba(33,15,60,1) 43%, rgba(18,31,65,1) 65%, rgba(4,37,50,1) 100%);
    border-radius: 5px;
    width: 80%;
    position: relative;
    text-align: center;
    transition: all 5s ease-in-out;
  }
  .popup p{
    color:#fefefe;
    font-family: "Open Sans";
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .popup h1 {
    margin-top: 0;
    font-size: 45px;
    text-align: center;
    color: #fefefe;
    font-family: "Playfair Display";

  }
  .popup h2{
    color: #fefefe;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 30px;
  }
  .popup h3{
    color: #fefefe;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 25px;
    margin-top: 10px;
  }
  .popup ul{
    color:#fefefe;
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 10px;
  }

  .popup .artifactSkills{
    color:#fefefe;
    text-align: center;
    font-size: 20px;
  }

  .popup iframe{
    display: block;
  margin-left:auto;
  margin-right: auto;
  }
  .popup img {
    margin: 15px;
    margin-left:auto;
    margin-right: auto;
    border: 2px solid #548ea4;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 2px #000000)
  }
  .popup .close {
    transition: all 200ms;
    font-family: "Open Sans";
    border: 2px solid #c55275;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #c55275;
  }
  .popup .close:hover {
    color: #548ea4;
    border: 2px solid #548ea4;
  }


